<main>
  <div class="formContainer container">
    <form role="form" (ngSubmit)="onSubmit()"
          id="loginForm" class=" row justify-content-center align-items-cent">
      <img height="25%" width="25%" src="../../assets/img/Happy%20kids%20jumping%20rope.jpg">
      <div class="form-group">
        <label for="firstname" class="form-label">Имя <span style="color: red">*</span></label>
        <input id="firstname" name="firstname" [(ngModel)]="updatedUser.firstname"
               class="form-control form-control mx-auto mb-2" type="text" required>
      </div>
      <div class="form-group mb-3">
        <label for="secondname" class="form-label">Фамилия <span style="color: red">*</span></label>
        <input id="secondname" name="secondname" [(ngModel)]="updatedUser.secondName"
               class="form-control form-control mx-auto mb-2" type="text" required>
      </div>
      <div class="form-group mb-3">
        <fieldset>
          <div>
            <input type="radio" id="w" name="gender" [(ngModel)]="updatedUser.gender" value="w" >
            <label for="w">Женщина</label>
          </div>

          <div>
            <input type="radio" id="m" name="gender"[(ngModel)]="updatedUser.gender"  value="m">
            <label for="m">Мужчина</label>
          </div>
        </fieldset>

      </div>
      <div class="form-group my-3">
        <label for="login" class="form-label">Логин <span style="color: red">*</span></label>
        <div id="loginlHelp" class=" form-text">Придумайте уникальный идентификатор пользователя (например dasha_sport) или используйте свою электронную почту.</div>
        <input id="login" name="login" [(ngModel)]="updatedUser.login"
               class="form-control form-control mx-auto mb-2" type="text" required>
      </div>
      <div class="form-group my-3">
        <label for="login" class="form-label">E-mail</label>
        <div id="mailHelp" class=" form-text">Будет использоваться для напоминаний о тренировках.</div>
        <input id="mail" name="mail" [(ngModel)]="updatedUser.mail"
               class="form-control form-control mx-auto mb-2" type="email">
      </div>
      <div class="form-group my-3">
        <label for="login" class="form-label">Дата рождения</label>
        <input id="birthdate" name="birthdate" [(ngModel)]="updatedUser.birthdate"
               class="form-control form-control mx-auto mb-2" type="date">
      </div>

      <div *ngIf="isTrainer()">
        <h3 class="text-warning text-center my-4"> Длполнительная информация о тренере</h3>

        <mat-form-field appearance="fill" class = "w-100">
          <mat-label>Оcновной спортзал</mat-label>
          <mat-select name="gym"
                      [(ngModel)]="updatedTrainerInfo?.defaultGym!.id"
                      id="gym">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let gym of gyms" [value]="gym.id">
              {{gym.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <label class="form-label mb-0" for="tRate">Количество клиентов на занятии по умолчанию</label>
        </div>
        <mat-slider discrete min="1" max="50" style="width: 85%">
          <input matSliderThumb id="tRate" name="trainerRate" [(ngModel)]="updatedTrainerInfo.defaultClientsCount">
        </mat-slider>{{updatedTrainerInfo.defaultClientsCount}}

        <div class="form-group w-100">
          <label for="phone" class="form-label">Номер телефона</label>
          <input id="phone" name="firstname" [(ngModel)]="updatedTrainerInfo.phoneNumber"
                 class="form-control form-control mx-auto mb-2" type="text" required>
        </div>

        <div>
          <label class="form-label mb-0" for="tRate">Опыт работы тренером (лет)</label>
        </div>
        <mat-slider discrete min="0" max="50" style="width: 85%">
          <input matSliderThumb id="tRate" name="trainerRate" [(ngModel)]="updatedTrainerInfo.experience">
        </mat-slider>{{updatedTrainerInfo.experience}}<br>

        <mat-form-field appearance="fill" class = "w-100">
          <mat-label>Спортивный разряд</mat-label>
          <mat-select name="rank"
                      [(ngModel)]="updatedTrainerInfo.rank"
                      id="rank">
            <mat-option>-</mat-option>
            <mat-option  *ngFor="let rank of rankTypes" [value]="rank">
              {{rank}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class = "w-100">
          <mat-label>Образование</mat-label>
          <mat-select name="edu"
                      [(ngModel)]="updatedTrainerInfo.education"
                      id="edu">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let edu of educationTypes" [value]="edu">
              {{edu}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <div class="row p-4" *ngIf="error != null" style="color: darkred">
        {{error.errorMessage}}
      </div>
      <input id="loginSubmit" class="form-control form-control mx-auto my-3" type="submit" value="Сохранить">
      <div id="registerBtn">
        <a class="btn btn-light" routerLink="/myAccount"> Отмена </a>
      </div>
    </form>
  </div>
</main>


