<h1 mat-dialog-title>{{slot.specialization.name + ' ' + slot.date}}</h1>
<div mat-dialog-content>
  <label *ngIf="!slot.declined && isClient() && isWarning" style="color: darkred"> У вас есть пересечение с данным занятием! Вы можете проигнорировать данное предупреждение.</label>
  <p><strong> {{stringStatus}}</strong></p>
  <p>Время проведения: {{slot.startTime}} - {{slot.finishTime}}</p>
  <p>Количество клиентов на занятии: {{slot.curClientCount}}/{{slot.maxClientCount}}</p>
  <p>Место проведения: {{slot.gym.name}} </p>
  <p>Тренер: {{slot.trainer.firstName}} {{slot.trainer.secondName}}</p>
  <p>Стоимость: {{slot.price}} руб.</p>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button mat-dialog-close>Закрыть</button>
  <button *ngIf="!slot.declined && isClient() && !isWarning"  mat-button (click)="bookLesson(false)">Записаться</button>
  <button style="color: darkred" *ngIf="!slot.declined && isClient() && isWarning"  mat-button (click)="bookLesson(true)">Записаться</button>
<!--  <button *ngIf="!slot.isDeclined"  mat-button (click)="cancelLesson()">Отменить занятие</button>-->
</div>
