<div class=" mx-5 mt-5">
  <p class="lead mx-5 mt-5" style="color: #11335b">SKAKALKA - лучший организатор вашей спортивной жизни.</p>
</div>
<img width="100%" src="../../assets/img/img_2.jpg">

<div class="text-center pt-2 pb-5 mb-5">
  <p class="lead mx-5 mt-3 mb-5 fo" style="color: #11335b"><strong>Подберите тренировку прямо сейчас!</strong></p>

  <a style="text-align: center; background-color: #fd9f01" class="mb-5 btn btn-outline-light text-center"
     routerLink="/slots">
    Перейти к поиску
  </a>
  <img width="100%" src="../../assets/img/separator.jpg">

</div>

<div class="m-5 p-5">
  <h3 class="text-center mx-5 my-5" style="color: #11335b"><strong>Возможности платформы</strong></h3>
  <div class="d-flex align-content-around justify-content-around flex-wrap">
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Ведение учёта</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Журнал посещений</p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> База клиентов, тренеров </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Аналитика на основе оценок</p>
    </div>
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Система оценок</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Оценивание тренеров и спортзалов </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Аналитика на основе оценок от пользователей </p>
    </div>
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Кабинет тренера</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Управление расписанием </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Общение с клиентами </p>
    </div>
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Кабинет администратора</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Управление расписаниями </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Управление информацией о тренерах</p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Общение с клиентами <br></p>
    </div>
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Кабинет пользователя</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Поиск тренировки, тренера по критериям </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Запись на тренировки </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Прямое общение с тренером или администраторами </p>
    </div>
    <div style="background-color: aliceblue; width: 30%; min-width: 250px " class="rounded-3 p-2 m-2">
      <h4 class="text-center my-3">Уведомления на почту</h4>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Уведомления в случае отмены занятий </p>
      <p><span class="material-icons"><span class="material-icons-outlined">done</span></span> Уведомления в случае изменения параметров занятия</p>
    </div>
    <a style="text-align: center; background-color: #fd9f01" class="m-5 btn btn-outline-light text-center"
       routerLink="/price">
      Посмотреть цены
    </a>
  </div>
</div>
